.map-wrapper {
  position: relative;
  height: calc(100vh - 1em);
}

agm-map {
  height: inherit;
}

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.container {
  width: 25%;
  z-index: 1000;
  position: absolute;
  padding: 10px
}

.container button {
  cursor: pointer;
}
