<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="map-wrapper" id="map-wrapper">
  <div class="container">
    <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
      <div class="input-group">
        <input class="form-control" name="rfid" type="text" placeholder="Search for RFID" ngModel required>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" aria-label="Search" (click)="openNav()">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
      </div>
    </form>
  </div>
  <agm-map [usePanning]="true"
           [zoom]="zoomLevel"
           [streetViewControl]="false"
           (mapReady)="OnMapReady($event)"
  >
    <agm-marker *ngFor="let sensor of sensors"
                [latitude]="sensor.data.location.lat"
                [longitude]="sensor.data.location.lng"
                [openInfoWindow]="true"
                [title]="sensor.deviceId"
                [label]="sensor.id"
    ></agm-marker>
  </agm-map>
</div>
