<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="row">
    <div class="col-lg-11">
      <input type="text" class="form-control" placeholder="Search for RFID">
    </div>
    <div class="col-lg-11">
      <span class="pull-right">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>
<div class="map-wrapper" id="map-wrapper">
  <button type="button" class="btn btn-default openBtn" aria-label="Search" (click)="openNav()">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </button>
  <agm-map [usePanning]="true"
           [zoom]="zoomLevel"
           (mapReady)="OnMapReady($event)"
  >
    <agm-marker *ngFor="let sensor of sensors"
                [latitude]="sensor.data.location.lat"
                [longitude]="sensor.data.location.lng"
                [openInfoWindow]="true"
                [title]="sensor.deviceId"
                [label]="sensor.id"
    ></agm-marker>
  </agm-map>
</div>
